* {
    /* padding: 0%; */
    margin: 0%;
}
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-decoration: blue;
}
.last {
    padding-bottom: 70px;    
}
.pra {
    color: #060b9c;
}